@include b(singer) {

    @include e(scroll) {
        height: calc(100vh - 172px);
        padding: 0 36px;
        box-sizing: border-box;
    }

    @include e(nodata) {
        @include flex;
        padding-top: 50px;
        font-size: 22px;
    }

    @include e(content) {
        &__title {
            font-size: 38px;
            font-weight: 700;
            padding: 20px 0;
        }

        // 歌手
        &__artist {
            @include flex(flex-start);
            font-size: 26px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 15px;

            &__cover {
                width: 100rpx;
                height: 100rpx;
                border-radius: 50%;
                margin-right: 20rpx;
                background-color: #f8f8f8;

            }

            &__desc {
                font-size: 20rpx;
                color: #888888;
                margin-top: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &__more {
            @include flex;
            font-size: 24rpx;
            margin: 10px;
            color: #888888;
        }
    }
}