@include b(album) {

    @include e(scroll) {
        height: calc(100vh - 172px);
        padding: 0 36px;
        box-sizing: border-box;
    }

    @include e(nodata) {
        @include flex;
        padding-top: 50px;
        font-size: 22px;
    }

    @include e(content) {
        &__title {
            font-size: 38px;
            font-weight: 700;
            padding: 20px 0;
        }

        // 歌单
        &__playList {
            @include flex(flex-start);
            margin-bottom: 15px;

            &__cover {
                width: 150px;
                height: 150px;
                border-radius: 10px;
                margin-right: 20px;
                display: block;
            }

            &__info {
                &__title {
                    font-size: 26px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &__desc {
                    font-size: 20rpx;
                    color: #888888;
                    margin-top: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }


        &__more {
            @include flex;
            font-size: 24rpx;
            margin: 10px;
            color: #888888;
        }
    }
}