@include b(index) {
  @include e(content){
    padding: 10rpx 20rpx;
  }
  @include e(banner){
    &__item {
      &__img {
        width: 100%;
        height: 100%;
        border-radius: 20rpx;
      }
    }
  }
}
