
@include b(single) {

    @include e(scroll) {
        height: calc(100vh - 172px);
        padding: 0 36px;
        box-sizing: border-box;
    }

    @include e(nodata) {
        @include flex;
        padding-top: 50px;
        font-size: 22px;
    }

    @include e(content) {
        &__title {
            font-size: 38px;
            font-weight: 700;
            padding: 20px 0;
        }
        // 单曲
        &__music {
            @include flex(flex-start);
            padding: 15rpx 0;
            width: 100%;
            box-sizing: border-box;
            border-bottom: 1rpx solid #eeeeee;

            &__info {
                flex: 1;

                &__name {
                    font-size: 34px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &__desc {
                    font-size: 24rpx;
                    color: #888888;
                    margin-top: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &__icon {
                flex: none;
                font-size: 30rpx;
                color: #dddddd;
                padding: 40rpx 0 40rpx 80rpx;
            }
        }

        &__more {
            @include flex;
            font-size: 24rpx;
            margin: 10px;
            color: #888888;
        }
    }
}